/*.img {
    transition: all .5s ease-out;
    margin: 50px;
    padding: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
   
}

.img:hover {
    border-radius: 50%;
    box-shadow: 10px 10px 10px #cccccc,
    -10px -10px 10px #cccccc;
    transform: rotate(180deg);
    transition: all 3s ease-in-out;
}*/

/*h1 {
    text-shadow: 2px 3px 3px red,
                 1px 2px 3px red;
    text-shadow: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

div {
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid #cccccc;
    font-family: arial,tahoma;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/

/** {
    box-sizing: border-box;
}

.container {
    width: 400px;
    background-color: #eeeeee;
    margin: 100px auto;
    padding: 10px;
    border: 1px solid #cccccc;
    height: 200px;
}

.skew {
    background-color: green;
    color: #ffffff;
    text-align: center;
    height: 180px;
    transition: all 1s ease-in-out;
   
}

.skew:hover {
    transform: skew(360deg,-360deg);

}*/

/*.scaleandtranslate:hover {
    transform: scale(0.5,0.5) translate(0,10px) rotate(30deg);
    transition:all 1s ease-in-out;
}*/

.img1 {
    transition: all .5s ease-in-out;
}

.img1:hover {
   /* transform:scale(-1,1);*/
    /*transform: matrix(-1,0,0,1,0,0);*/
    transform: rotatex(180deg);
}

