fieldset {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;
}

body {
    background-color: #eeee;
    font-family: Arial,Tahoma;
}

legend {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
}

label,select{
    display: block;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}

input[type="text"],input[type="password"],input[type="email"]{
    padding:8px;
    width: 300px;
    display:block;
}

hr {
    border:1px solid #eeee;
}

textarea {
    padding: 8px;
    width: 300px;
    height: 200px;
    display: block;
    margin-bottom: 10px;
}